<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util-3.1.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<context:property-placeholder ignore-unresolvable="true" local-override="true"
                                  location="classpath*:/application.properties,classpath*:/application.local.properties"/>

    <util:properties id="APP_PROPERTIES" location="classpath:application.properties" local-override="true"/>
    
    
	 <context:component-scan base-package="com.spm.controller" />
	
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">    
    	<property name="messageConverters">    
        	 <list>        
             	<bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">    
				    <property name="supportedMediaTypes">    
				        <list>    
				            <value>text/html;charset=UTF-8</value>
				            <value>application/json;charset=UTF-8</value>
				       </list>    
				    </property>  
				</bean>
         	</list>    
    	</property>    
	</bean>    
    <mvc:annotation-driven/>
	<!-- <mvc:resources location="/js/" mapping="/js/**"/> -->
	
	
	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding">
			<value>UTF-8</value>
		</property>
		<property name="maxUploadSize">
			<value>32505856</value><!-- 上传文件大小限制为31M，31*1024*1024 -->
		</property>
		<property name="maxInMemorySize">
			<value>4096</value>
		</property>
	</bean>
	
	<!-- 拦截器-->
	<!-- <mvc:interceptors>
		<mvc:interceptor>
		<mvc:mapping path="/**"/>
		<bean class="com.test.util.SelfInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>  -->
	
	<aop:aspectj-autoproxy proxy-target-class="true"/>
</beans>